#savecontactcontainer
{
border: 1px solid black;
height: 443px;
width: 244px;
background-color: white;

}
#uppericon
{
height: 20px;
width: ="100%";
background-color: gray;

}

#lowericon
{

height: 35px;
width:="100%";
background-color: gray;

}
#searchcontainer

{

height: 35px;
width: ="100%";
background-color: blue;

}






#facebook
{
color: black;
outline: none;
width: 5px;
padding-right: 20px;
border: none;
background-color: white;
font-size: 10px;
}

#image
{
background: transparent;
outline: none;

border: none;
color: white;
height: 10px;

width: 5px;
font-size: 10px;

}

#whatsapp
{
background: transparent;
outline: none;

border: none;
color: white;
height: 5px;

width: 5px;
font-size: 10px;



}   


#instagram
{
background: transparent;
outline: none;

border: none;
color: white;
height: 5px;

width: 5px;
font-size: 10px;




}#signal
{
background: transparent;
outline: none;

border: none;
color: white;
height: 5px;

width: 5px;
font-size: 10px;

margin-left: 50px

}#signal1
{
background: transparent;
outline: none;

border: none;
color: white;
height: 5px;
font-size: 10px;

width: 5px;

margin-left: 1px

}

#battery
{
background: transparent;
outline: none;
font-size: 10px;


border: none;
color: white;
height: 5px;

width: 5px;

margin-left: 1px

}





#times
{
background: transparent;
outline: none;

border: none;
color: gray;
font-size: 10px;
}



#createcontact
{
background: transparent;
outline: none;
margin-left: 10px;
border: none;
color: black;
font-size: 15px;
}


#save
{
background: transparent;
outline: none;

border: none;
color: black;
font-size: 15px;

margin-left: 50px;
}




#ellipsis
{
background: transparent;
outline: none;

border: none;
color: gray;
font-size: 15px;

margin-left: 10px;
}

#camera
{
background: darkblue;
border: none;
outline: none;
font: white;
color: white;
font-size: 15px;
height: 60px;
width: 60px;
border-radius: 70px;

margin-left: 90px;

font: left;
}
